{% extends 'layout.html.twig' %}

{% block title %}List ServiceJob{% endblock %}

{% block page_content %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List ServiceJob</h3>
            <div class="card-tools">
                <a class="btn btn-success btn-sm" href="{{ path('service-connection.new') }}">Create new</a>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-content-below-tabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="20">Id</th>
                            <th width="40">Status</th>
                            <th width="40">Service connection</th>
                            <th width="40">Service command</th>
                            <th width="300">Result</th>
                            <th>Data</th>
                            <th width="20">IsActive</th>
                            <th width="80">actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service_job in service_jobs %}
                            <tr>
                                <td>{{ service_job.id }}</td>
                                <td>{{ service_job.status }}</td>
                                <td>{{ service_job.connection.name }}</td>
                                <td>{{ service_job.command.type }}</td>

                                <td>{{ service_job.result }}</td>
                                <td>{{ service_job.data ? service_job.data|json_encode : '' }}</td>
                                <td>{{ service_job.isActive ? 'Yes' : 'No' }}</td>

                                <td>
                                    <div class="btn-group">
                                        <a href="{{ path('service-job.show', {'id': service_job.id}) }}"
                                           class="btn btn-info btn-sm">show</a>
                                        <a href="{{ path('service-job.edit', {'id': service_job.id}) }}"
                                           class="btn btn-info btn-sm">edit</a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>
{% endblock %}
