{% extends 'layout.html.twig' %}

{% block title %}Список комманд сервиса #{{ service.id }} {% endblock %}

{% block page_content %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Название</h3>
            <div class="card-tools">
                <a class="btn btn-success btn-sm" href="{{ path('service-connection.edit', { id:service.id }) }}" >Настройка сервиса</a>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-content-below-tabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="10">#</th>
                            <th>Название</th>
                            <th>Активно</th>
                            <th>Статус</th>
                            <th>Настройки</th>

                            <th width="80">Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, job in jobs %}
                            <tr>
                                <td>
                                    <a href="{{ path('service-job.show', {id: job.id}) }}"  class="btn btn-info btn-sm">
                                        #{{ job.id }}
                                    </a>
                                </td>
                                <td>{{ job.command.type }}</td>
                                <td>{{ job.isActive }}</td>
                                <td>{{ job.status }}</td>
                                <td>{{ job.data | json_encode }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{{ path('service-job.edit', {id: job.id}) }}"  class="btn btn-info btn-sm">
                                            {#<span class="fas fa-upload"></span> #}
                                            Edit
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby=""></div>
                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby=""></div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List ServiceCommand</h3>
            <div class="card-tools">
{#                <a class="btn btn-success btn-sm" href="{{ path('service-command.new') }}" >Create new</a>#}
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-content-below-tabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="20">Id</th>
                            <th width="100">Type</th>
                            <th width="40">IsActive</th>
                            <th>Data</th>
                            <th width="80">actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service_command in commands %}
                            <tr>
                                <td>{{ service_command.id }}</td>
                                <td>{{ service_command.type }}</td>
                                <td>{{ service_command.isActive ? 'Yes' : 'No' }}</td>
                                <td>{{ service_command.data ? service_command.data|json_encode : '' }}</td>

                                <td>
                                    <div class="btn-group">
                                        <a href="{{ path('service-job.connect', {
                                            'connectionId': service.id,
                                            'commandType': service_command.type
                                        }) }}"
                                           class="btn btn-info btn-sm">connect</a>
                                    </div>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby=""></div>
                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby=""></div>
            </div>

        </div>

    </div>
{% endblock %}